/* Write your CSS code here */
.home-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-img {
  width: 150px;
}

.home-heading {
  font-family: 'Roboto';
  font-weight: 500;
  color: #6d396b;
  font-size: 24px;
}

@media screen and (min-width: 576px) {
  .home-heading {
    font-size: 48px;
  }
}
